*{
    margin:0px;
    padding:0px;
}
.header
{
    width:100%;
    background-color:royalblue;
    display: flex;
    justify-content: center;
}
 .container
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo
{
    width:15% ;
    height:60px ;
    font-size:40px;
    font-weight: bold;
    text-align: center;
    font-family: serif;
} 
.nav
{
    width:40%;
}
.nav-parent
{
    display: flex;
    flex-wrap: wrap;
}
.nav-link
{
    list-style-type: none;
    width: 25%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
@media screen and (max-width: 768px) 
{
    .container{
        width:100%;
    }
    
   .logo{
       width:100%;
       } 
   .nav{
       width:100%;
    }
    .nav-link{
        width:25%;
        font-size: 20px;
    }
}

@media screen and (max-width:450px) {
    .container{
        width:100%;
    }
   .logo{
       width:100%;
   } 
   .nav{
       width:100%;
    }
    .nav-link{
        width: 100%;
        box-shadow: 0 0 1px royalblue;
        line-height: 50px;
        height: 50px;
        text-align: left;
        text-indent:5px;
    }
}